{% extends "base.html" %}
{% load static %}

{% block titulo %} Pedido {% endblock %}

{% block contenido %}



<h1>Detalle del Pedido</h1>
<h2>Información del Cliente:</h2>
<p><strong>Nombre:</strong> {{ pedido.nombre }}</p>
<p><strong>Email:</strong> {{ pedido.email }}</p>
<p><strong>Dirección:</strong> {{ pedido.direccion }}</p>
<p><strong>Teléfono:</strong> {{ pedido.telefono }}</p>

<h2>Productos:</h2>
<table>
    <thead>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio Unitario</th>
            <th>Precio Total</th>
        </tr>
    </thead>
    <tbody>
        {% for detalle in detalles %}
        <tr>
            <td>{{ detalle.producto.nombre }}</td>
            <td>{{ detalle.cantidad }}</td>
            <td>{{ detalle.precio_unitario }}</td>
            <td>{{ detalle.precio_total }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Total del Pedido: {{ total_pedido }}</h2>

<a href="{% url 'home' %}">Volver al inicio</a>



{% endblock %}