{% extends "base.html" %}
{% load static %}

{% block titulo %}
    Home
{% endblock %}

{% block contenido %}
    <link rel="stylesheet" href="{% static 'css/home_tarjetas.css' %}?v=1">
    <link rel="stylesheet" href="{% static 'css/header.css' %}?v=1">
    <link rel="stylesheet" href="{% static 'css/font.css' %}?v=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <div class="slider">
        <!-- list Items -->
        <div class="list">
            {% for slide in imagen %}
                <div class="item {% if forloop.first %}active{% endif %}">
                    <img src="{{ slide.image.url }}">
                    <div class="content">
                        <p>Novedades</p>
                        <h2>{{ slide.title }}</h2>
                        <p>{{ slide.description }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- button arrows -->
        <div class="arrows">
            <button id="prev">&lt;</button>
            <button id="next">&gt;</button>
        </div>

        <!-- thumbnail -->
        <div class="thumbnail">
            {% for slide in imagen %}
                <div class="item {% if forloop.first %}active{% endif %}">
                    <img src="{{ slide.image.url }}">
                    <div class="content">{{ slide.title }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
<br>
<br>
<br>

    <section class="products">
        <div class="five">
            <h1 class="titulo">Nuestros productos <span>Principales</span></h1>
        </div>

 

        <div class="all-products">
            {% for p in productos %}
                <div class="product">
                    <img src="{{ p.imagen.url }}" alt="">
                    <div class="product-info">
                        <h4 class="product-title">{{ p.nombre }}</h4>
                        <p class="product-price">$  {{ p.precio }}</p>
                        <form action="{% url 'agregar_al_carrito' producto_id=p.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="bn632-hover bn25">Agregar al carrito</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    <br>
    <br>

    <script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-1.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/templatemo.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
{% endblock %}
