{% extends "base.html" %}
{% load static %}

{% block titulo %}
    Home
{% endblock %}

{% block contenido %}
    <link rel="stylesheet" href="{% static 'css/home_tarjetas.css' %}?v=1">
    <link rel="stylesheet" href="{% static 'css/header.css' %}?v=1">
  



    <div id="container-slider">
        <a href="#" onclick="fntExecuteSlide('prev');" class="arrowPrev"><i class="fas fa-chevron-circle-left"></i></a>
        <a href="#" onclick="fntExecuteSlide('next');" class="arrowNext"><i class="fas fa-chevron-circle-right"></i></a>
        <ul class="listslider">
            {% for slide in imagen %}
            <li><a itlist="itList_{{ forloop.counter0 }}" href="#" class="item-select-slid"></a></li>
            {% endfor %}
        </ul>
        <ul id="slider">
            {% for slide in imagen %}
            <li style="background-image: url('{{ slide.image.url }}'); z-index:{{ forloop.counter0 }}; opacity: {{ forloop.first|yesno:'1,0' }}"> <!-- Ajusta el estilo del slide -->
                <div class="content_slider">
                    <div>
                        <h2>{{ slide.title }}</h2>
                        <p>{{ slide.description }}</p>
                        <a href="#" class="btnSlider">Ver más</a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    
<br>
<br>
<br>

    <section class="products">
        <div class="five">
            <h1 class="titulo">Nuestros productos <span>Principales</span></h1>
        </div>

 
        <div class="all-products">
            {% for producto in productos %}
                <div class="product">
                    <img src="{{ producto.imagen.url }}" alt="">
                    <div class="product-info">
                        <h4 class="product-title">{{ producto.nombre }}</h4>
                        <p class="product-price">$  {{ producto.precio }}</p>
                        <form class="agregar-producto-form" data-producto-id="{{ producto.id }}">
                            {% csrf_token %}
                            <input type="hidden" name="producto_id" value="{{ producto.id }}">
                            <!-- <button type="button" class="bn632-hover bn25 agregar-al-carrito">Agregar al carrito</button> -->
                    
                            <button type="button" class="button-50 agregar-al-carrito">Agregar al carrito</button>
                        </form>
                        <a class="button-50 agregar-al-carrito" href="{% url 'detalles' producto.id %}">Detalles</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        
    </section>

    <br>
    <br>
    <script src="{% static 'js/custom.js' %}"></script>
{% endblock %}
