{% extends "base.html" %}
{% load static %}

{% block titulo %} Pedido {% endblock %}

{% block contenido %}

<br>
<br>
<link rel="stylesheet" href="{% static 'css/form.css' %}">


    <div class="container">
        <h1>¡Compartenos tu información!</h1>
        <p>Llena los campos con tus datos para efectuar el pedido</p>  
        
        <form method="POST" action="">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="row">
                <div class="column">
                    <label for="id_nombre">Nombre</label>
                    {{ form.nombre   }}
                    {{ form.nombre.errors }}
                </div>
                <div class="column">
                    <label for="id_direccion">Dirección</label>
                    {{ form.direccion   }}
                    {{ form.nombre.errors }}
                </div>
                <div class="column">
                    <label for="id_numero">Número de telefono</label>
                    {{ form.telefono }}
                </div>
            </div>

            <button class="boton" type="submit">Submit</button>
            
        </form>  
        <br>
        <div id="alerta"></div> 
    </div>

    <h2>Detalles del Carrito:</h2>
    <ul>
        {% for detalle in carrito.detallecarrito_set.all %}
        <li>{{ detalle.producto.nombre }} - Cantidad: {{ detalle.cantidad }} - Precio Total: {{ detalle.precio_total }}</li>
        {% endfor %}
    </ul>
    

{% endblock %}