{% extends "base.html" %}
{% load static %}

{% block titulo %} Home {% endblock %}
{% block contenido %}
    <link rel="stylesheet" href="{% static 'css/home_tarjetas.css' %}?v=1">
    <br>
    <br>

    <section class="products">
        <div class="filters">
            <label class="categoria-label" for="categoria">Selecciona una categoría:</label>
            <select name="categoria" id="categoria" class="categoria-select">
                <option value="">Todas</option>
                {% for categoria in categorias %}
                    <option value="{{ categoria.id }}" {% if categoria_seleccionada == categoria %}selected{% endif %}>{{ categoria.nombre }}</option>
                {% endfor %}
            </select>
        </div>
            
        <h1>Resultados de la búsqueda para "{{ query }}"</h1>

        <div class="all-products">
            {% for producto in productos %}
                <div class="product">
                    <img src="{{ producto.imagen.url }}" alt="">
                    <div class="product-info">
                        <h4 class="product-title">{{ producto.nombre }}</h4>
                        <p class="product-price">$  {{ producto.precio }}</p>
                        <form class="agregar-producto-form" data-producto-id="{{ producto.id }}">
                            {% csrf_token %}
                            <input type="hidden" name="producto_id" value="{{ producto.id }}">
                            <button type="button" class="bn632-hover bn25 agregar-al-carrito">Agregar al carrito</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    
    <script>
        document.getElementById('categoria').addEventListener('change', function() {
            var categoriaId = this.value;
            window.location.href = "{% url 'shop' %}?categoria_id=" + categoriaId;
        });
    </script>

{% endblock %}
