{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <!-- SweetAlert2 CDN -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <!-- <link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css"> -->
    <link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">
    

</head>

<body>
      <!--==================== HEADER ====================-->
      <header class="header" id="header">
        <nav class="nav container">
           <a href="{% url 'home' %}" class="nav__logo">Qusera la moraleña</a>

           <div class="nav__menu" id="nav-menu">
              <ul class="nav__list">
                 <li class="nav__item">
                    <a href="{% url 'home' %}" class="nav__link">Inicio</a>
                 </li>

                 <li class="nav__item">
                    <a href="{% url 'shop' %}" class="nav__link">Producos y categoria</a>
                 </li>

                 <li class="nav__item">
                    <a href="{% url 'logout' %}" class="nav__link">Cerrar</a>
                 </li>
                 <li class="nav__item">
                  <a href="{% url 'loginn' %}" class="nav__link">Cdasar</a>

                <!-- Close button -->
                <div class="nav__close" id="nav-close">
                  <i class="ri-close-line"></i>
                </div>
           </div>

           <div class="nav__actions">
              <!-- Search button -->
              <i class="ri-search-line nav__search" id="search-btn"></i>
              <i class="ri-user-line nav__login" id="login-btn"></i>
              <!-- Login button -->
              <!-- <i class="ri-car-line nav__login" id="login-btn"></i> -->

              <i class="ri-shopping-cart-2-fill"></i> <a href="{% url 'carrito' %}" class="nav__link">   <span> Carrito: <span id="numero-productos-carrito">0</span> </span>
              </a>

              <!-- Toggle button -->
              <div class="nav__toggle" id="nav-toggle">
                 <i class="ri-menu-line"></i>
              </div>
           </div>
  
        </nav>
     </header>

     <!--==================== SEARCH ====================-->
     <div class="search" id="search">
        <form  class="search__form" method="GET" action="{% url 'buscar_productos' %}">
           <i class="ri-search-line search__icon"></i>
           <input type="search" placeholder="Buscar tu producto" class="search__input" name="q" arial-label="Buscar">
           <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>


        

        <i class="ri-close-line search__close" id="search-close"></i>
     </div>

     <!--==================== LOGIN ====================-->
     <div class="login" id="login">
        <form action="{% url 'loginn' %}"  method="post"  id="login-form" class="login__form">
        {% csrf_token %}
        <div id="error-message" class="alert alert-danger" role="alert" style="display: none; color: red;">
          {{ error|escapejs }}
        </div>
           <h2 class="login__title">Log In</h2>
           
           <div class="login__group">
              <div>
                 <label for="email" class="login__label">Email</label>
                 <input type="text" name="username" placeholder="Escribe tu usuario" id="email" class="login__input">
              </div>
              
              <div>
                 <label for="password" class="login__label">Password</label>
                 <input type="password" name="password" placeholder="Ingresa tu contraseña" id="password" class="login__input">
              </div>
           </div>

           <div>
              <p class="login__signup">
                 You do not have an account? <a href="#">Sign up</a>
              </p>
  
              <a href="#" class="login__forgot">
                 You forgot your password
              </a>
                
              <input type="submit" class="login__button" name="Log in">
           </div>
        </form>

        <i class="ri-close-line login__close" id="login-close"></i>
     </div>

    <br>
<br>
<br>

{% block contenido %} {% endblock %}

<br>
<br>
<br>
<br>
<br>
<br>

<footer style="background-color: #edf2f7; padding-top: 2rem; padding-bottom: 1.5rem;">
    <div style="max-width: 1140px; margin: 0 auto; padding: 0 15px;">
      <div style="display: flex; flex-wrap: wrap; justify-content: space-between; text-align: left;">
        <div style="width: 100%; max-width: 48%; padding-right: 15px; padding-left: 15px;">
          <h4 style="font-size: 1.875rem; font-weight: 600; color: #4a5568;">Let's keep in touch!</h4>
          <h5 style="font-size: 1.125rem; margin-top: 0; margin-bottom: 0.5rem; color: #4a5568;">
            Find us on any of these platforms, we respond 1-2 business days.
          </h5>
          <div style="margin-top: 1.5rem;">
            <button style="background-color: #fff; color: #63b3ed; box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); font-weight: 400; height: 2.5rem; width: 2.5rem; display: inline-flex; justify-content: center; align-items: center; border-radius: 9999px; outline: none; border: none; margin-right: 0.5rem;">
              <i class="fab fa-twitter"></i>
            </button>
            <button style="background-color: #fff; color: #3182ce; box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); font-weight: 400; height: 2.5rem; width: 2.5rem; display: inline-flex; justify-content: center; align-items: center; border-radius: 9999px; outline: none; border: none; margin-right: 0.5rem;">
              <i class="fab fa-facebook-square"></i>
            </button>
            <button style="background-color: #fff; color: #ed64a6; box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); font-weight: 400; height: 2.5rem; width: 2.5rem; display: inline-flex; justify-content: center; align-items: center; border-radius: 9999px; outline: none; border: none; margin-right: 0.5rem;">
              <i class="fab fa-dribbble"></i>
            </button>
            <button style="background-color: #fff; color: #4a5568; box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); font-weight: 400; height: 2.5rem; width: 2.5rem; display: inline-flex; justify-content: center; align-items: center; border-radius: 9999px; outline: none; border: none; margin-right: 0.5rem;">
              <i class="fab fa-github"></i>
            </button>
          </div>
        </div>
        <div style="width: 100%; max-width: 48%; padding-right: 15px; padding-left: 15px;">
          <div style="display: flex; flex-wrap: wrap; justify-content: space-between;">
            <div style="width: 100%; max-width: 48%; padding-right: 15px; padding-left: 15px;">
              <span style="text-transform: uppercase; font-size: 0.875rem; font-weight: 600; color: #4299e1; margin-bottom: 0.5rem;">Useful Links</span>
              <ul style="list-style: none; padding-left: 0;">
                <li><a href="#" style="color: #4a5568; text-decoration: none; font-weight: 600; font-size: 0.875rem; display: block; margin-bottom: 0.25rem;">About Us</a></li>
                <li><a href="#" style="color: #4a5568; text-decoration: none; font-weight: 600; font-size: 0.875rem; display: block; margin-bottom: 0.25rem;">Blog</a></li>
                <li><a href="#" style="color: #4a5568; text-decoration: none; font-weight: 600; font-size: 0.875rem; display: block; margin-bottom: 0.25rem;">Github</a></li>
                <li><a href="#" style="color: #4a5568; text-decoration: none; font-weight: 600; font-size: 0.875rem; display: block; margin-bottom: 0.25rem;">Free Products</a></li>
              </ul>
            </div>
            <div style="width: 100%; max-width: 48%; padding-right: 15px; padding-left: 15px;">
              <span style="text-transform: uppercase; font-size: 0.875rem; font-weight: 600; color: #4299e1; margin-bottom: 0.5rem;">Other Resources</span>
              <ul style="list-style: none; padding-left: 0;">
                <li><a href="#" style="color: #4a5568; text-decoration: none; font-weight: 600; font-size: 0.875rem; display: block; margin-bottom: 0.25rem;">MIT License</a></li>
                <li><a href="#" style="color: #4a5568; text-decoration: none; font-weight: 600; font-size: 0.875rem; display: block; margin-bottom: 0.25rem;">Terms & Conditions</a></li>
                <li><a href="#" style="color: #4a5568; text-decoration: none; font-weight: 600; font-size: 0.875rem; display: block; margin-bottom: 0.25rem;">Privacy Policy</a></li>
                <li><a href="#" style="color: #4a5568; text-decoration: none; font-weight: 600; font-size: 0.875rem; display: block; margin-bottom: 0.25rem;">Contact Us</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <hr style="margin-top: 2rem; margin-bottom: 2rem; border-color: #cbd5e0;">
      <div style="display: flex; flex-wrap: wrap; justify-content: center;">
        <div style="width: 100%; max-width: 50%; padding-right: 15px; padding-left: 15px; margin: auto;">
          <div style="font-size: 0.75rem; color: #4a5568; font-weight: 600; padding-top: 0.25rem;">
            Copyright © <span id="get-current-year">2021</span>
            <a href="https://www.creative-tim.com/product/notus-js" style="color: #4a5568; text-decoration: none; font-weight: 600; transition: color 0.2s ease-in-out;" target="_blank"> Notus JS</a> by
            <a href="https://www.creative-tim.com" style="color: #4a5568; text-decoration: none; font-weight: 600; transition: color 0.2s ease-in-out;">Creative Tim</a>.
          </div>
        </div>
      </div>
    </div>
  </footer>
  

  
<script>
  const obtenerNumeroProductosURL = "{% url 'obtener_numero_productos_en_carrito' %}";
  const agregarAlCarritoURL = "{% url 'agregar_al_carrito' 0 %}";
  const homeURL = "{% url 'home' %}";

</script>



    <script src="{% static 'js/login.js' %}"></script>
    <script src="{% static 'js/productos.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
</body>
</html>