
a {
    text-decoration: none;
}

.header2 {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    color: #eee;
    max-width: 100%;
    margin: 0;
}

.header2:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.12) 40%, rgba(27, 32, 48, 1) 100%);
}

.header2:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    transform: translateZ(0);
    animation: backgroundFade 20s linear infinite;
    transition: all 4s ease-in-out;
    z-index: -2;
    background-size: cover;
    background-position: center;
}



.header2 a {
    color: #ffffff;
}

.menu {
    display: block;
    width: 40px;
    height: 30px;
    border: 2px solid #c30909;
    border-radius: 20px;
    position: absolute;
    right: 20px;
    top: 20px;
    text-decoration: none;
}

.menu:after {
    content: "";
    display: block;
    width: 20px;
    height: 3px;
    background: #fff;
    position: absolute;
    margin: 0 auto;
    top: 5px;
    left: 0;
    right: 0;
    box-shadow: 0 8px, 0 16px;
}

.logo {
    border: 2px solid #fff;
    border-radius: 3px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    align-content: center;
    margin: 20px;
    padding: 10px;
    font-weight: 900;
    font-size: 1.5em;
    line-height: 1;
    box-sizing: border-box;
    height: 40px;
}

.sides,
.info {
    flex: 0 0 auto;
    width: 41.5%;
}

.info {
    width: 100%;
    padding: 1% 30% 0 10%;
    text-align: start;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.author {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url() center no-repeat;
    background-size: cover;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 3px;
}

.info h4,
.meta {
    font-size: 1.5em;
}

.info h1 {
    font-size: 3em;
}

.info p {
    font-size: 1.2em;
    line-height: 1.5;
}

@keyframes grow {
    0% {
        transform: scale(1) translateY(0px);
    }

    50% {
        transform: scale(1.2) translateY(-400px);
    }
}

.content {
    padding: 5% 10%;
    text-align: justify;
}

.btn {
    color: #333;
    border: 2px solid;
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;

    padding: 5px 10px;
    font-weight: 600;
}

.twtr {
    margin-top: 20px;
}



/* Cambiar el color del navbar al pasar el puntero del mouse */
/* Cambiar el color del navbar al pasar el puntero del mouse */
/* Cambiar el color del navbar al pasar el puntero del mouse */