

*{
    margin: 0;
    padding: 0;
    box-shadow: border-box;
}

.title-p{
    text-align: center;
    margin-bottom: 4rem;
    font-size: 3rem;
}
.all-products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Grid adaptable */
    gap: 2rem;
    justify-items: center;
    padding: 0 2rem; /* Ajusta el padding según necesidades */
    
}

.product {
    overflow: hidden;
    background: #ffffff;
    color: #21201e;
    text-align: center;
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1.2rem;
    box-shadow: 5px 15px 25px #fffefe;
    transition: box-shadow 0.3s ease;
}

.product:hover {
    box-shadow: 5px 15px 35px #f7f7f7;
}

.product img {
    height: 200px;
    margin: 1rem;
    transition: transform 0.3s ease;
}

.product:hover img {
    transform: scale(1.1);
}

@media screen and (max-width: 768px) {
    .all-products {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Cambia el tamaño de las columnas en pantallas más pequeñas */
        padding: 0 1rem; /* Ajusta el padding para pantallas más pequeñas */
    }

    .product img {
        height: 150px; /* Ajusta el tamaño de la imagen en pantallas más pequeñas */
    }
}


.bn632-hover {
    width: 120px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:focus {
    outline: none;
  }
  
  .bn632-hover.bn25 {
    background-image: linear-gradient(
      to right,
      #29323c,
      #485563,
      #2b5876,
      #4e4376
    );
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
  }



  /* === HEADING STYLE #5 === */
.five h1 {
    text-align: center;
    font-size: 22px;
    font-weight: 700; color:#000000;
    text-transform: uppercase;
    word-spacing: 1px; letter-spacing:2px;
  }
  .five h1 span {
    margin-top: 40px;
    text-transform: none;
    font-size:.75em;
    font-weight: normal;
    font-style: italic; font-family: "Playfair Display","Bookman",serif;
    color:#000000; letter-spacing:-0.005em; word-spacing:1px;
    letter-spacing:none;
  }
  .five h1:before {
    position: absolute;
    left: 0;
    bottom: 38px;
    width: 60px;
    height: 4px;
    content: "";
    left: 50%;
    margin-left: -30px;
    background-color: #ffffff;
  }
  
 
  
  /* Estilos para el contenedor de filtros */
.filters {
  margin-bottom: 20px; /* Espacio entre el contenedor de filtros y otros elementos */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilos para el label */
.categoria-label {
  font-size: 16px; /* Tamaño de la fuente */
  font-weight: bold; /* Peso de la fuente */
  color: #333; /* Color del texto */
  margin-right: 10px; /* Espacio entre el label y el select */
}

/* Estilos para el select */
.categoria-select {
  padding: 8px; /* Espacio de relleno */
  font-size: 16px; /* Tamaño de la fuente */
  border: 1px solid #ccc; /* Borde del select */
  border-radius: 5px; /* Radio de borde */
  background-color: #fff; /* Color de fondo */
  color: #333; /* Color del texto */
  cursor: pointer; /* Cursor al pasar por encima */
  outline: none; /* Elimina el contorno al enfocar */
}

/* Estilos para el hover del select */
.categoria-select:hover {
  border-color: #666; /* Cambia el color del borde al pasar por encima */
}

/* Estilos para el focus del select */
.categoria-select:focus {
  border-color: #007bff; /* Cambia el color del borde al enfocar */
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Agrega una sombra al enfocar */
}
