
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Loopple/loopple-public-assets@main/motion-tailwind/motion-tailwind.css" rel="stylesheet">
        <script src="https://cdn.tailwindcss.com"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    </head>

    <style>
      .modal {
        display: none;
      }
    </style>
    
   <body class="bg-gradient-to-r from-white to-teal-200">  
    
    
    <div class="container flex flex-col mx-auto bg-gradient-to-r from-white to-teal-200 pt-1">
      <div class="flex justify-center w-full h-full my-auto xl:gap-14 lg:justify-normal md:gap-5 draggable">
          <div class="flex items-center justify-center w-full lg:p-12">
              <div class="flex items-center xl:p-10">

                <form id="login-form" class="flex flex-col w-full h-full pb-6 text-center bg-gradient-to-white" method="POST" action="">
                  {% csrf_token %}
                  <h3 class="mb-3 text-4xl font-extrabold text-dark-black-900">Registro de usuarios</h3>
                  <p class="mb-4 text-black-700">Ingresa tus datos</p>
  
                  <a href="{% url 'home' %}" class="flex items-center justify-center w-full py-4 mb-6 text-sm font-medium transition duration-300 rounded-2xl text-black-900 bg-black-300 hover:bg-black-400 focus:ring-4 focus:ring-gray-300">
                      <img class="h-10 mr-2" src="{% static 'img/logoT-transformed.png' %}" alt="">
                  </a>
                  <div class="flex items-center mb-3">
                      <hr class="h-0 border-b border-solid border-black-500 grow">
                      <p class="mx-4 text-black-600"></p>
                      <hr class="h-0 border-b border-solid border-black-500 grow">
                  </div>
                  <label for="text" class="mb-2 text-sm text-start text-black-900">Nombre</label>
                  <input id="text" type="text" placeholder="juan134" name="first_name" class="flex items-center w-full px-5 py-4 mr-2 text-sm font-medium outline-none focus:bg-black-400 mb-7 placeholder:text-black-700 bg-black-200 text-dark-black-900 rounded-2xl"/>
                  {% if form.errors.first_name %}
                  <p class="text-red-500 text-sm">{{ form.errors.first_name }}</p>
                  {% endif %}
                  <label for="text" class="mb-2 text-sm text-start text-black-900">Apellido</label>
                  <input id="text" type="text" placeholder="juan134" name="last_name" class="flex items-center w-full px-5 py-4 mr-2 text-sm font-medium outline-none focus:bg-black-400 mb-7 placeholder:text-black-700 bg-black-200 text-dark-black-900 rounded-2xl"/>
                  {% if form.errors.last_name %}
                  <p class="text-red-500 text-sm">{{ form.errors.last_name }}</p>
                   {% endif %}
                  <label for="text" class="mb-2 text-sm text-start text-black-900">Usuario(Con este te iniciaras sesion)</label>
                  <input id="text" type="text" placeholder="juan134" name="username" class="flex items-center w-full px-5 py-4 mr-2 text-sm font-medium outline-none focus:bg-black-400 mb-7 placeholder:text-black-700 bg-black-200 text-dark-black-900 rounded-2xl"/>
                  {% if form.errors.username %}
                  <p class="text-red-500 text-sm">{{ form.errors.username }}</p>
                  {% endif %}
          
      

                  <label for="password" class="mb-2 text-sm text-start text-black-900">Contraseña*</label>
                  <input id="password" type="password" name="password1" placeholder="Enter a password" class="flex items-center w-full px-5 py-4 mb-5 mr-2 text-sm font-medium outline-none focus:bg-black-400 placeholder:text-black-700 bg-black-200 text-dark-black-900 rounded-2xl"/>
                  {% if form.errors.password1 %}
                  <p class="text-red-500 text-sm">{{ form.errors.password1 }}</p>
                  {% endif %}

                  <label for="password" class="mb-2 text-sm text-start text-black-900">Confirma contraseña</label>
                  <input id="password" type="password" name="password2" placeholder="Enter a password" class="flex items-center w-full px-5 py-4 mb-5 mr-2 text-sm font-medium outline-none focus:bg-black-400 placeholder:text-black-700 bg-black-200 text-dark-black-900 rounded-2xl"/>

                  {% if form.errors.password2 %}
                  <p class="text-red-500 text-sm">{{ form.errors.password2 }}</p>
                  {% endif %}
                  <div class="flex flex-row justify-between mb-8">
                      <label class="relative inline-flex items-center mr-3 cursor-pointer select-none">

                      </label>
                      <a href="javascript:void(0)" class="mr-4 text-sm font-medium text-green-600">¿Olvidaste tu contraseña?</a>
                  </div>
                  <input type="submit" name="submit" class="w-full px-6 py-5 mb-5 text-sm font-bold leading-none text-white transition duration-300 md:w-96 rounded-2xl hover:bg-green-500 focus:ring-4 focus:ring-purple-blue-100 bg-green-600" value="registrame">
                  <p class="text-sm leading-relaxed text-black-900">¿Si ya tienes una cuenta, inicia sesión? <a href="{% url 'loginn' %}" class="font-bold text-black-700">Inicio de sesión</a></p>
                </form>
              
              </div>
          </div>
      </div>
  </div>
  

  
  
   

  <div class="modal hidden fixed inset-0 z-50 overflow-auto bg-gray-500 bg-opacity-50">
    <div class="modal-content mx-auto my-12 p-8 border border-gray-100 rounded-xl bg-gray-50 text-center md:w-1/2 max-w-screen-sm">
      <!-- contenido -->
      <div class="h-full flex flex-col justify-center space-y-4">
        <h6 class="text-xl font-semibold leading-none">{{ info.titulo}}</h6>
        <p class="text-gray-700 md:text-2xl"> <span class="font-serif">"</span>{{info.descripcion}} <span class="font-serif">"</span></p>
          
        <div>
          <span class="text-lg text-gray-600">Dirección: {{info.direccion}} </span>
          <span class="text-lg text-gray-600">Numero: {{info.numero}} </span>
        </div>
      </div>
      <button id="closeModal" class="mt-4 px-4 py-2 bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold rounded-md focus:outline-none">Cerrar</button>
    </div>
  </div>
  
  
  


<footer class="py-8 text-center">
  <div class="container">
    <div class="flex justify-center mb-6">
      <a href="#" class="mr-4 text-gray-600">Compañia</a>
      <a href="#" class="mr-4 text-gray-600" id="openModalButton">Sobre nosotros</a>
    </div>
    <div class="mb-1">
      <p class="text-gray-600">
        Quesera la moraleña © <script>document.write(new Date().getFullYear());</script> Todos los derechos reservados
      </p>
    </div>
  </div>
</footer>


<script src="{% static 'js/modal.js' %}"></script>
</body>

<html>